.offer-sec {
    padding: 120px 0;
    max-width: 1440px;
}
html, body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
h2 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 500;
    text-align: center;
}

* {
    margin: 0;
}
:root {
    --columns-count: 12;
}
.col-1 {width: calc(100% / var(--columns-count) * 1)}
.col-2 {width: calc(100% / var(--columns-count) * 2)}
.col-3 {width: calc(100% / var(--columns-count) * 3)}
.col-4 {width: calc(100% / var(--columns-count) * 4)}
.col-5 {width: calc(100% / var(--columns-count) * 5)}
.col-6 {width: calc(100% / var(--columns-count) * 6)}
.col-7 {width: calc(100% / var(--columns-count) * 7)}
.col-8 {width: calc(100% / var(--columns-count) * 8)}
.col-9 {width: calc(100% / var(--columns-count) * 9)}
.col-10 {width: calc(100% / var(--columns-count) * 10)}
.col-11 {width: calc(100% / var(--columns-count) * 11)}
.col-12 {width: calc(100% / var(--columns-count) * 12)}

.header-sec {
    font-weight: 400;
    line-height: 21px;
    min-height: 100vh;
    width: 1440px;
    background: url(http://surl.li/aocsu);
    background-size: cover;
}
.header-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-back {
    background: rgba(18, 18, 18, 0.25);
}
.header-top-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 50px 15px 120px;
    box-sizing: content-box;
}
.header-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.header-logo {
    fill: #3077C6;
    width: 205px;
    height: 40px;
}
.header-menu {
    display: flex;
}
.text-menu {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
}
.text-menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 25px;
}
.link-menu {
    position: relative;
}
.link-menu:after {
    display: none;
    position: absolute;
    left: 8%;
    bottom: -32%;
    content: '';
    width: 85%;
    height: 5px;
    background-color: #F5BD41;
}
.link-menu:hover:after {
    display: block;
}
.icons-menu {
    display: flex;
    align-items: center;
}
.icons-menu div {
    margin-left: 25px;
}
.icon-night {
    fill: #FFFFFF;
}
.icon-account {
    fill: #FFFFFF;
}
.top-text {
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 145px;
}
.header-form {
    position: relative;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 120px;
}
.destination {
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
}
.label-city {
    position: absolute;
    bottom: 50%;
    left: 2%;
    transform: translate(0, 50%);
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    transition: .5s ease;
}
.input-city:focus +.label-city,
.city-input:valid +.label-city {
    position: absolute;
    top: -85%;
    left: 2%;
    transform: none;
    color: #FFFFFF;
}
.input-city {
    padding: 20px 65px;
    border-radius: 8px;
    font-size: 18px;
    width: 34.6%;
}
.second-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: -7px;
}
.almanac, .people, .input-city{
    color: #383838;
    padding: 20px 25px;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    cursor: pointer;
}
.almanac:hover, .people:hover,.input-city:hover {
    border: 3px solid #F5BD41;
}
.almanac:focus, .people:focus, .input-city:focus {
    border: 3px solid #F3F3F4;
}
.button-search {
    padding: 21px 55px;
    background-color: #3077C6;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 24px;
    line-height: 28px;
    transition: .5s ease;
}
.button-search:hover {
    background-color: #2f7cd4;
}
.header-apps {
    display: flex;
    width: 270px;
    height: 40px;
    margin: 0 auto;
}
.header-apps a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-apps a:not(:last-child) {
    margin-right: 15px;
}
.offer-header {
}

.offer-header::after {
    content: "";
    display: block;
    height: 4px;
    width: 100px;
    margin: 20px auto 78px;
    background-color:#F5BD41;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 105px 0 105px;
}

.icon-container {
    text-align: center;
}
.icon-label {
    font-weight: normal;
    margin-top: 47px;
    font-size: 24px;
    line-height: 28px;
}
.loves-sec {
    min-width: 1440px;
    min-height: 828px;
    background-color: #EAF0F9;
    position: relative;
}
.loves-header::after {
    content: "";
    display: block;
    height: 4px;
    width: 100px;
    margin: 20px auto 78px;
    background-color: #F5BD41;
}
.loves-header {
    padding-top: 120px;
}
.loves-container {
    display: flex;
    justify-content: space-around;
    margin: 105px 0 120px 0;
    padding: 0 105px 0 105px;
    column-gap: 16px;
}
.love-container {
    text-align: left;
}
.love-place {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 22px 0;
    color: #3077C6;
}
.love-image img {
    width: 296px;
    height: 296px;
}
.love-position {
    font-weight: normal;
    width: 295px;
    margin-top: 25px;
    word-wrap: break-word;
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
}
.slider-container {
    position: absolute;
    top: 401px;
    right: 78px;
    box-shadow: 0 4px 4px #0000003F;
    border-radius: 50%;
    background: #F3F3F4;
    padding: 0 15px;
}
/*-*/
.best-sec {
    min-width: 1440px;
    margin: 120px 0;
    position: relative;
}
.best-header {
    margin-bottom: 120px;
}
.best-header::after {
    content: "";
    display: block;
    height: 4px;
    width: 100px;
    margin: 20px auto 78px;
    background-color: #F5BD41;
}
.best-slider-arrow {
    position: absolute;
    top: 730px;
    right: 700px;
    box-shadow: 0 4px 4px #0000003F;
    border-radius: 50%;
    background: #F3F3F4;
    padding: 0 15px;
    transform: rotate(90deg);
}
.destination-container {
    padding: 0 104px;
}
.best-blocks {
    font-weight: normal;
    display: inline-block;
    margin-bottom: 65px;
    background-color: #F3F3F4;
}
.best-block {
    font-weight: normal;
    min-width: 192px;
    padding: 17px 52px;
    font-size: 24px;
    line-height: 28px;
    border-radius: 8px;
    float: left;
    border: 1px solid #F3F3F4;
}
.best-block:last-child {
    padding: 17px 25px;
}
.best-block:first-child {
    background-color: #3077C6;
    color: #FFFFFF;
}
.best-body {
    display: flex;
    justify-content: space-around;
    column-gap: 16px;
}
.best-img img {
    width: 296px;
    height: 296px;
}
.best-book-button {
    position: absolute;
    padding: 13px 24px;
    background: #FFFFFF;
    top: 66.5%;
    left: 18%;
    transform: translate(-50%, -50%);
    border: 1px solid #3077C6;
    border-radius: 8px;
}
.best-position {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 24px 0;
    color: #3077C6;
}
/*-*/
.footer {
    position: relative;
    max-width: 1440px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 120px 105px 120px 105px;
    background: #10367C;
}
.footer-logo {
    display: none;
}
.footer-interior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    width: 33,333%;
    padding-left: 1px;
}
.footer-column:last-child {
    margin-right: 0;
}
.footer-column-item{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    list-style-type: none;
}
.footer-column-item:first-child {
    font-weight: 500;
}
.footer-column-links {
    text-decoration: none;
    color: #FFFFFF;
}
.copyright {
    font-size: 14px;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .offer-sec {
        padding: 80px 32px
    }
    h2::after{
        display: none;
    }
    .offer-header {
        margin-bottom: 36px;
    }
    .icons-container {
        flex-wrap: wrap;
    }
    .icon-container {
        width: calc(50% - 16px);
        margin-top: 32px;
    }
    .icon-container:not(:last-child) {
        margin-right: 32px;
    }
    .icon-container:nth-child(even) {
        margin-right: 0;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .footer-logotype {
        display: block;
    }
    .footer-interior{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .footer-column {
        display: flex;
        justify-content: center;
    }
    .footer-column li:first-child {
        margin-bottom: 0;
    }
    .footer-column li:not(:first-child) {
        display: none;
    }
    .footer-column-item:first-child {
        display: flex;
        font-size: 18px;
        text-decoration: underline;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 14px;
    }
}
@media (max-width: 480px) {
    [class*="col-"] {
        width: 100%;
    }
    .offer-sec {
        padding: 40px 16px;
        min-height: 360px;
    }
    .offer-header {
        font-size: 28px;
        line-height: 33px;
    }
    .icon-container:first-child {
        margin-top: 0;
    }
    .icon-container:nth-child(odd) {
        margin-right: 0;
    }
    .icon-label {
        margin-top: 16px;
        font-size: 15px;
        line-height: 18px;
    }
    .footer {
        padding: 40px 0;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-interior {
        align-items: center;
        justify-content: center;
    }
    .footer-logotype {
        display: block;
        max-width: 98px;
        max-height: 19px;
        fill: #FFFFFF;
    }
    .footer-column {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-right: 16px;
    }
    .footer-column-links {
        font-size: 18px;
    }
    .footer-column-item:first-child {
        display: flex;
        font-size: 18px;
        text-decoration: underline;
    }
    .footer-column:first-child {
        padding: 0;
    }
    .footer-column-item {
        display: none;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
