.offer-sec {
    margin: 120px 100px;
}
* {
    margin: 0;
}
.offer-header {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    padding-bottom: 105px;
}
.icons-container {
    display: flex;
    padding: 0px 15px 0px;
    justify-content: space-between;
}

.icon-container {
    text-align: center;
}
.icon-place {
    padding: 24px 0px 24px;
    font-weight: normal;
    font-width: 400px;
    font-size: 24px;
    text-align: left;
    color: #3077C6;
}
.icon-label {
    font-width: 400px;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
    color: #BFBFBF;
}
.slider-arrow {
    width: 40px;
    height: 40px;
}
